// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Fuzhou Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/input/input.h>

/ {
	vcc5v0_sys: vccsys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc3v3_sys: vcc33sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};


	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <720000>;
		regulator-max-microvolt = <1000000>;
		regulator-init-microvolt = <825000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc3v3_sys>;
		status = "okay";
	};

	/*
	 * pwm1 is reserved as voltage adjustment in hardware
	 * use fixed regulator to avoid voltage adjustment by software
	 */
	vdd_logic_npu_vepu: vdd-logic-npu-vepu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_logic_npu_vepu";
		regulator-min-microvolt = <720000>;
		regulator-max-microvolt = <880000>;
		regulator-init-microvolt = <825000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc3v3_sys>;
		status = "okay";
	};

	vdd_logic_npu_vepu_fixed: vdd-logic-npu-vepu-fixed {
		compatible = "regulator-fixed";
		regulator-name = "vdd_logic_npu_vepu-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <825000>;
		regulator-max-microvolt = <825000>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu_tsadc {
	rockchip,hw-tshut-mode = <0>; /* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-polarity = <0>; /* tshut polarity 0:LOW 1:HIGH */
	pinctrl-names = "gpio", "otpout";
	pinctrl-0 = <&tsadcm0_pins>;
	pinctrl-1 = <&tsadc_shutorg>;
	status = "okay";
};

&csi_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&isp_in>;
			};
		};
	};
};

&display_subsystem {
	status = "okay";
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	non-removable;
	mmc-hs200-1_8v;
	rockchip,default-sample-phase = <90>;
	supports-emmc;
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	status = "okay";
};

&fiq_debugger {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&nandc {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	#address-cells = <1>;
	#size-cells = <0>;

	nand@0 {
		reg = <0>;
		nand-bus-width = <8>;
		nand-ecc-mode = "hw";
		nand-ecc-strength = <16>;
		nand-ecc-step-size = <1024>;
	};
};

&npu {
	npu-supply = <&vdd_logic_npu_vepu>;
	status = "okay";
};

&npu_tsadc {
	rockchip,hw-tshut-mode = <0>; /* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-polarity = <0>; /* tshut polarity 0:LOW 1:HIGH */
	pinctrl-names = "gpio", "otpout";
	pinctrl-0 = <&tsadcm0_pins>;
	pinctrl-1 = <&tsadc_shutorg>;
	status = "okay";
};

&optee {
	status = "disabled";
};

&otp {
	status = "okay";
};

&pinctrl {
	pmic {
		/omit-if-no-ref/
		pmic_int: pmic_int {
			rockchip,pins =
				<0 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		/omit-if-no-ref/
		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins =
				<0 RK_PB2 RK_FUNC_GPIO &pcfg_output_low>;
		};

		/omit-if-no-ref/
		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins =
				<0 RK_PB2 RK_FUNC_1 &pcfg_pull_none>;
		};

		/omit-if-no-ref/
		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins =
				<0 RK_PB2 RK_FUNC_2 &pcfg_pull_none>;
		};
	};
};

&pmu_io_domains {
	status = "okay";

	pmuio0-supply = <&vcc3v3_sys>;
	pmuio1-supply = <&vcc3v3_sys>;
	vccio2-supply = <&vcc3v3_sys>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc3v3_sys>;
	vccio6-supply = <&vcc3v3_sys>;
	vccio7-supply = <&vcc3v3_sys>;
};

&pwm0 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm0m0_pins_pull_down>;
};


&pwm1 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm1m0_pins_pull_down>;
};

&pwm2 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm2m0_pins_pull_down>;
};


&ramoops {
	status = "okay";
};

&rk_rga {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	ports {
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			isp_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&csidphy0_out>;
			};
		};
	};
};

&rkisp_mmu {
	status = "disabled";
};

&rkispp {
	rockchip,restart-monitor-en;
	status = "okay";
	/* the max input w h and fps of mulit sensor */
	//max-input = <2688 1520 30>;
};

&rkispp_vir0 {
	status = "okay";
};

&rkispp_mmu {
	status = "okay";
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	venc-supply = <&vdd_logic_npu_vepu>;
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&rng {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&sfc {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	status = "disabled";
};

&u2phy0 {
	status = "okay";
	//vup-gpios = <&gpio0 RK_PC1 GPIO_ACTIVE_LOW>;
	u2phy_otg: otg-port {
		status = "okay";
		//rockchip,vbus-always-on;
	};
};

&usbdrd {
	status = "okay";
};

&usbdrd_dwc3 {
	status = "okay";
	//snps,tx-fifo-resize;
	extcon = <&u2phy0>;
	//dr_mode = "peripheral";
};

&vdpu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};
